<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class = "ui bottom fixed footer" style = "top: 10px; position:relative;">
	<div class="ui one column centered grid">
		<div class = "column" style="margin-left: 30px;"><span class="footer_text">Created by Stanford students for Stanford students</span></div>
	</div>
</div>
