<script src="/dropdown/dropdown.js"></script>
<script src="/accordion/accordion.js"></script>
<link rel="stylesheet" type="text/css" href="/dropdown/dropdown.css">
<link rel="stylesheet" type="text/css" href="/accordion/accordion.css">
<link rel="stylesheet" type="text/css" href="/semantic/components/button.css"/>
<link rel="stylesheet" type="text/css" href="/semantic/components/button.min.css"/>
<link rel="stylesheet" type="text/css" href="/semantic-ui-menu/menu.css"/>

<script>
      //This is the function that closes the pop-up
		function endBlackout(){
			$(".blackout").css("display", "none");
			$(".msgbox").css("display", "none");
			$(".msgbox2").css("display", "none");
		}

		//This is the function that starts the pop-up
		function strtBlackout(){
			$(".msgbox").css("display", "block");
			$(".blackout").css("display", "block");
		}

		function replaceLogin() {
			$(".msgbox").css("display", "none");
			$(".msgbox2").css("display", "block");
		}

		//Sets the buttons to trigger the blackout on clicks
		$(document).ready(function(){
			$("#loginMenu").click(strtBlackout); // open if btn is pressed
			$(".blackout").click(endBlackout); // close if click outside of popup
			$(".closeBox").click(endBlackout); // close if close btn clicked
			$("#signup").click(replaceLogin);

			// Automatically trigger the pop-up after 10 seconds
			//setTimeout( strtBlackout, 10000);

		});


        function submit_singup() {
          console.log("reached");
          var username = document.getElementById('username');
          var email = document.getElementById('email');
          var confirm_email = document.getElementById('confirm_email');
          var password = document.getElementById('password');
          alert(username.value);
        }  
</script>

<div class="ui top fixed menu" id="menu___bar">
	<div class = "header">
		<div id="logo_div">
			<a class = "ui header" id = "name" href = "home">Stanford Stack</a>
			<!--<a href = "home">-->
				<!--<img style = "width: 100%; height: 100%" src = "images/logo.jpg">-->
			<!--</a>-->
		</div>
	</div>
  	

  	<% if (!user) { %>
		<div class="ui secondary pointing right menu" id = "nav_bar">
		  	<a id="homeMenu" href = "home" class="item">
		    	Home
		  	</a>
		  	<a id="loginMenu" class="item">
		    	Login
		  	</a>
		</div>
		<div class="blackout" style="display:none;">
		</div>
		<div class="msgbox" style="display:none;">
		<center>
		  <div class="ui card">
		    
		    <div class="content">
		      <form class="ui form" action="/login" method="post">
		        <div class="field">
		          <input type="text" name="email" placeholder="Email">
		        </div>
		        <div class="field">

		          <input type="password" name="password" placeholder="Password">
		        </div>
		        <button class="ui red button" type="submit" style="width: 100%;">Log in</button>
		      </form>
		    </div>
		    <div class="extra content">
		      <text>Don't have an account? </text>
		      <a class="ui tiny button" style="float: right;" id="signup">Sign up</a>
		    </div>
		  </div>
		</center>
		</div>
		<div class="msgbox2">
		<center>
		  <div class="ui card">
		        
		        <div class="content">
		          <form class="ui form" action="/signup" method="post" >
		            <div class="field">
		              <input type="text" name="username" placeholder="Username" required>
		            </div>
		            <div class="field">
		              <input type="text" name="email" placeholder="Email" required>
		            </div>
		            <div class="field">
		            	<select class="ui search selection fluid dropdown" id="year_dropdown" required>
  							<option value="">Select Year*</option>
						    <option value="Freshman">Freshman</option>
						    <option value="Sophomore">Sophomore</option>
						    <option value="Junior">Junior</option>
						    <option value="Senior">Senior</option>
						    <option value="Fifth Year">Fifth Year</option>
						    <option value="Coterm">Coterm</option>
						    <option value="Masters">Masters</option>
						    <option value="Graduate">Graduate</option>
						</select>
					</div>
		            <div class="field">
		              <input type="text" name="password" placeholder="Password" required>
		            </div>
		            <button class="ui red button" type="submit_signup" style="width: 100%;">Sign up</button>
		          </form>
		        </div>
		        
		      </div>
		</center>
		</div>
	<% } else { %>
		<div class="ui secondary pointing right menu"> <!-- id = "nav_bar_space" -->
		  	<a id="homeMenu" href = "home" class="item">
		    	Home
		  	</a>
		</div>
		<!-- <div class = "profile_divider">
		    <div class="ui inline floating dropdown" id = "profile_dropdown">
		      <input type="hidden">
			    <div class="text">
					<img class="ui circular massive image" id = "profile_icon" src=<%= user.image %>>
			    </div>
			    <i class="dropdown icon red"></i>
			    <div class="menu">
			      	<a href = "my_favorites">
			      		<div class="item">
			       			My Classes
			      		</div>
			      	</a>
			      	<a href = "profile">
			      		<div class="item">
			        		My Profile
			      		</div>
			    	</a>
			    	<a href = "logout">
				      	<div class="item">
				       		Logout
				      	</div>
			      	</a>
			    </div>
		    </div>
		</div> -->
	<% } %>
</div>

<style type="text/css">

  .blackout {
  background-color:#000;
  opacity:.7;
  filter:alpha(opacity=70);
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  display:none;
  cursor:pointer;
  }
  .msgbox {
  width:30%;
  height:30%;
  position:fixed;
  top:20%;
  left:15%;
  border-radius:20px;
  padding:10px;
  z-index:101;
  display:none;
  margin-left: 20%;
  }
  .linkbox {
  width:30%;
  height:30%;
  position:fixed;
  top:20%;
  left:15%;
  border-radius:20px;
  padding:10px;
  z-index:101;
  display:none;
  margin-left: 20%;
  }
  .msgbox2 {
  width:30%;
  height:30%;
  position:fixed;
  top:20%;
  left:15%;
  border-radius:20px;
  padding:10px;
  z-index:101;
  display:none;
  margin-left: 20%;
  }
  .closeBox {
  background-color:#CC0000;
  color:#FFFFFF;
  padding:8px;
  float:right;
  border-radius:3px;
  cursor:pointer;
  text-transform:uppercase;

  }
  </style>

<div style = "height: 55px;"></div> 
<script src="js/user-model.js"></script>